// Here you can add other styles
.field_validate_label{
    margin-top: 8px;
}

.action_edit{
    color:blue !important
}

figcaption{
    background-color:#39f;
font-style: italic;
padding: 2px;
text-align: center;
color:white;
}
